<ion-header>
    <ion-navbar color="primary">
        <ion-title>Send Card</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-list>
        <ion-item color="primary">
            <img *ngIf="card.image_url" [src]="card.image_url">
            <ion-label [class]="card.full_name ? 'text-semibold' : 'text-muted'">{{ card.full_name || 'Full Name' }}</ion-label>
        </ion-item>
        <ion-item color="primary" *ngIf="card.phone1">
            <ion-label>
                <ion-icon name="phone-portrait"></ion-icon>
                {{ card.phone1 }}
            </ion-label>
        </ion-item>
        <ion-item color="primary" *ngIf="card.phone2">
            <ion-label>
                <ion-icon name="phone-portrait"></ion-icon>
                {{ card.phone2 }}
            </ion-label>
        </ion-item>
        <ion-item color="primary" *ngIf="card.email">
            <ion-label>
                <ion-icon name="at"></ion-icon>
                {{ card.email }}
            </ion-label>
        </ion-item>
        <ion-item color="primary" *ngIf="card.github">
            <ion-label>
                <ion-icon name="github"></ion-icon>
                {{ card.github }}
            </ion-label>
        </ion-item>
        <ion-item color="primary" *ngIf="card.linkedin">
            <ion-label>
                <ion-icon name="linkedin"></ion-icon>
                {{ card.linkedin }}
            </ion-label>
        </ion-item>
        <ion-item color="primary" *ngIf="card.blurb">
            <ion-label>
                <ion-icon name="text"></ion-icon>
                {{ card.blurb }}
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>