page-home {
  ion-tabs .tabbar {
    background-color: color($colors, secondary) !important;

    * {
      color: color($colors, secondary-text) !important;
    }

    .tab-button[aria-selected=true] {
      border-top: 1px solid color($colors, secondary-text);
    }
  }
}
